<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDqm_SvIHIn-y5AhQ0spyL5lhkoilApS8</string>
	<key>GCM_SENDER_ID</key>
	<string>839507093658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sultanammar.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-ad9b1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-ad9b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839507093658:ios:2c316d570f05ea4f909723</string>
</dict>
</plist>